## 2장 노트정리

이 파일은 2장 학습하면서 실행한 내용을 정리한 것이다.

날짜: 2025.9.9

학번: 202110763

이름: 신연준

In [7]:
print("Hello, 여러분!!")

Hello, 여러분!!

In [8]:
x = 3
print(f"x = {x}")

x = 3

In [9]:
x = 3
x

3

## 기본 입출력 함수

### print() 함수
숫자나 문자열 등의 데이터나 수식을 화면에 출력할 때 사용하는 함수입니다.

In [10]:
# 1. 산술 연산 결과 출력
print(10+20)  # () 속의 연산 결과 출력

30

In [11]:
# 2. 문자열 출력
print("동양미래대학교")  # 문자열 출력

동양미래대학교

In [12]:
# 3. 문자열 반복 출력
print("abc" * 3)  # 문자열 3번 출력

abcabcabc

In [13]:
# 4. 변수 할당
x = 25
y = 32
z = x + y

In [14]:
# 5. 여러 변수 값 출력
print(x, y)  # 변수 x, y 값 출력

25 32

In [15]:
# 6. 문자열과 변수의 조합 출력
print(x, '+', y, '=', z)  # 문자열과 변수의 조합 출력

25 + 32 = 57

### print() 함수 - 서식 지정
숫자나 문자열 등의 데이터를 서식을 지정하여 화면에 출력할 때 사용합니다.

#### 서식 지정자 종류

| 서식 | 설명 | 사용 예 |
|---|---|---|
| `%d` | 10진수 정수로 출력 | `print("%d" % 10)` |
| `%f` | 실수로 출력 | `print("%f" % 1.2)` |
| `%s` | 문자열 출력 | `print("%s" % "cat")` |
| `%c` | 한 글자 출력 | `print("%c" % "p")` |
| `%x` | 16진수 정수로 출력 | `print("%x" % 10)` |
| `%o` | 8진수 정수로 출력 | `print("%o" % 8)` |

In [16]:
# 서식 지정 예시 1: 10진수 정수 출력
n = 10
print("n=%d" % n)  # 서식 지정

n=10

In [17]:
# 서식 지정 예시 2: 실수와 정수 조합 출력
m = 5.2
print("m=%.1f, n=%d" % (m, n))  # %.1f = 소숫점 1자리까지 표시

m=5.2, n=10

In [18]:
# 서식 지정자 다양한 예시들
print("%d" % 10)        # 10진수 정수
print("%f" % 1.2)       # 실수
print("%s" % "cat")     # 문자열
print("%c" % "p")       # 한 글자
print("%x" % 10)        # 16진수
print("%o" % 8)         # 8진수

10
1.200000
cat
p
a
10

### input() 함수
키보드를 이용하여 숫자나 문자열 등의 데이터를 입력 받을 때 사용합니다.
입력된 정보는 항상 **문자열**입니다.

In [ ]:
# 1. 입력 받기 (문자열로 저장됨)
n = input('type a number : ')  # 사용자가 3을 입력한다고 가정
print(n)  # 문자열로 입력된다
print(type(n))  # 타입 확인

In [ ]:
# 2. 문자열을 정수로 변환
print(int(n))  # 문자열을 정수로 변환
print(type(int(n)))  # 타입 확인

In [ ]:
# 3. 문자열을 실수형으로 변환
print(float(n))  # 문자열을 실수형으로 변환
print(type(float(n)))  # 타입 확인

In [ ]:
# 4. 정수를 문자열로 변환
n = str(3)  # 정수를 문자열로 변환
print(n)
print(type(n))  # 타입 확인

## 입출력 함수의 사용 예

### 문자열을 입력 받아 다른 문자열과 결합하여 출력

In [ ]:
name = input('Name: ')  # 문자열 입력
print("Hello," + name)

### 두 정수를 입력 받아 곱셈 결과 출력

In [ ]:
a = int(input('Number 1: '))  # 문자열을 입력한 후 정수로 변환
b = int(input('Number 2: '))
print(a * b)

### 섭씨온도(C)를 입력 받아 화씨온도(F)로 바꾸어 출력

In [ ]:
C = float(input("Type 섭씨온도 : "))  # 입력 문자열을 실수로 변환
F = C*9/5 + 32  # 온도 변환
print("화씨온도는", F)

## 부울형(Boolean)

### 정의
- `참(True)` 또는 `거짓(False)` 중 하나의 값을 갖는 자료형입니다.
- 주로 비교 결과를 저장할 때 사용됩니다.

In [ ]:
# 부울 리터럴 할당 및 타입 확인
aVar = True
bVar = False
print(type(aVar))  # <class 'bool'>

In [ ]:
# 비교 연산 결과 저장 및 출력
a = 1
b = 2
c = a > b  # a가 b보다 큰지 비교
print(c)   # False

d = a < b  # a가 b보다 작은지 비교
print(d)   # True

## 자료형과 크기

### 정수(integer)형
소수점 없는 숫자를 표현할 때 사용합니다.

In [ ]:
# 정수형 변수 할당 및 타입 확인
intVar = 5
print(type(intVar))  # <class 'int'>

#### 여러 가지 정수 표현

- **10진수**: `1, 23, 3493`
- **2진수**: `0b010101, 0b110010` (접두사 `0b` 사용)
- **8진수**: `0o1, 0o27, 0o6645` (접두사 `0o` 사용)
- **16진수**: `0x1, 0x17, 0xDA5` (접두사 `0x` 사용)

In [ ]:
# 다양한 진법으로 정수 표현
print("10진수:", 1, 23, 3493)
print("2진수:", 0b010101, 0b110010)
print("8진수:", 0o1, 0o27, 0o6645)
print("16진수:", 0x1, 0x17, 0xDA5)

### 실수(float)형
소수점이 있는 숫자를 표현할 때 사용합니다.

In [ ]:
# 실수형 변수 할당 및 타입 확인
fVar = 1.0
print(type(fVar))  # <class 'float'>

In [ ]:
# 여러 가지 실수 표현
print(0., 0.0, .0, 1., 1.0, 1e0, 1.0, 1.0e2)

### 숫자 표기 시 밑줄(`_`) 사용 (파이썬 3.6부터)
숫자를 더 읽기 쉽게 만들기 위해 밑줄(`_`)을 구분자로 사용할 수 있습니다.

In [ ]:
# 밑줄을 사용한 숫자 표현
print(100_000.000_0001, 0x_FF_FF, 0o7_777, 0b_1010_1010)
print(0.00_10_27)

### 문자열(string)
나열된 문자들로, `''` (작은따옴표) 또는 `""` (큰따옴표)로 둘러쌉니다.

In [ ]:
# 문자열 변수 할당 및 타입 확인
strVar = "test"
print(type(strVar))  # <class 'str'>

In [ ]:
# 다양한 문자열 리터럴
print('This is a literal string')
print("This is another string")
print("I'm a Python fanatic")  # 큰따옴표 안에 작은따옴표
print('I"m a Python fanatic')  # 작은따옴표 안에 큰따옴표

In [ ]:
# 여러 줄 문자열
print('A not very long string \\')
print('that spans two lines')

## 연산자의 종류

### 지정 연산자(assignment operator); 할당연산자
- 변수의 값을 지정하기 위해 사용합니다. (`=`)

In [ ]:
# 지정 연산자 예시
i = 3
i = i + 2
print(i)  # 결과: 5

### 산술 연산자(arithmetic operator)
- 사칙연산자: `+`, `-`, `*`, `/`
- 정수나눗셈: `//`
- 나머지 연산: `%`

#### 산술 연산자 종류

| 연산자 | 설명 | 사용 예 |
|---|---|---|
| `x + y` | x와 y를 더함 | `c = a + b` |
| `x - y` | x에서 y를 뺌 | `s = a - b` |
| `x * y` | x와 y를 곱함 | `m = a * b` |
| `x / y` | x를 y로 나눔 | `d = a / b` |
| `x // y` | x를 y로 나눔(정수 나눗셈) | `d = a // b` |
| `x % y` | x를 y로 나눈 나머지 | `r = a % b` |
| `x ** y` | x의 y 제곱 | `r = 2 ** 5` |

In [ ]:
# 산술 연산자 예시
a = 10
b = 3
c = a % b  # 10을 3으로 나눈 나머지: 1
d = a // b # 10을 3으로 나눈 몫 (정수): 3
e = a / b  # 10을 3으로 나눈 결과 (실수): 3.3333333333333335

print(f"a = {a}, b = {b}")
print(f"a % b = {c}")
print(f"a // b = {d}")
print(f"a / b = {e}")

### 관계 연산자(relation operator)

- 비교연산자
- 항의 대소관계 또는 동등관계 판정
- 연산결과는 `True(참)` 또는 `False(거짓)`

In [ ]:
# 관계 연산자 예시
score = 95
print(score >= 90)  # ⇨ True
print(score < 80)   # ⇨ False
print(score == 90)  # ⇨ False
print(score != 80)  # ⇨ True

#### 관계 연산자 종류

| 연산자 | 설명 | 사용 예 |
|---|---|---|
| `x < y` | x가 y보다 작으면 True | `x=1; y=2; print(x<y)` |
| `x <= y` | x가 y보다 작거나 같으면 True | `x=1; y=2; print(x<=y)` |
| `x > y` | x가 y보다 크면 True | `x=1; y=2; print(x>y)` |
| `x >= y` | x가 y보다 크거나 같으면 True | `x=1; y=2; print(x>=y)` |
| `x == y` | x와 y가 같으면 True | `x=1; y=2; print(x==y)` |
| `x != y` | x와 y가 다르면 True | `x=1; y=2; print(x!=y)` |

In [ ]:
# 관계 연산자 종류별 예시
x = 1
y = 2

print(f"x = {x}, y = {y}")
print(f"x < y: {x < y}")   # True
print(f"x <= y: {x <= y}") # True
print(f"x > y: {x > y}")   # False
print(f"x >= y: {x >= y}") # False
print(f"x == y: {x == y}") # False
print(f"x != y: {x != y}") # True

### 논리 연산자(logical operator)

- 논리곱(and)
- 논리합(or)
- 논리부정(not)
- 논리 연산의 대상은 True 또는 False. 결과도 True 또는 False

In [ ]:
# 논리 연산자 예시
exam = 85
report = 85

print(exam >= 80 and report >= 80)  # True (둘 다 80 이상)
print(exam >= 90 or report >= 90)   # False (둘 다 90 미만)
print(not(exam < 90))               # False (85 < 90은 True, not True는 False)

#### 논리 연산자 종류

| 연산자 | 설명 | 사용 예 |
|---|---|---|
| `x and y` | x와 y가 모두 참일때만 연산결과가 참 | `a=5; print(a > 0 and a < 10)` |
| `x or y` | x와 y 둘 중 하나라도 참이면 연산 결과가 참 | `a=5; print(a < -3 or a > 3)` |
| `not x` | x의 부정. x가 참(거짓)이면 결과는 거짓(참) | `a=False; print(not a)` |

In [ ]:
# 논리 연산자 종류별 예시
a = 5

print(f"a = {a}")
print(f"a > 0 and a < 10: {a > 0 and a < 10}")  # True and True = True
print(f"a < -3 or a > 3: {a < -3 or a > 3}")    # False or True = True
print(f"not False: {not False}")                 # not False = True

### 멤버 연산자(membership operator)

- `in`, `not in`
- 특정 문자열 또는 값이 문자열 또는 리스트(반복객체)에 속해 있는지 판별하는 연산자

In [ ]:
# 멤버 연산자 예시
print('py' in 'python')      # True
print('ty' not in 'python')  # True

### 식별 연산자(identity operator)

- `is` : 양쪽 변수의 주소가 같은지 판단. `id(a) == id(b)`와 동일
- `is not` : 양쪽 변수의 주소가 다른지 판단. `id(a) != id(b)`와 동일

In [ ]:
# 식별 연산자 예시 1: id 확인
a = 2
b = 2
print(f"id(a): {id(a)}")
print(f"id(b): {id(b)}")
print(f"id(a) == id(b): {id(a) == id(b)}")

In [ ]:
# 식별 연산자 예시 2: is, is not 사용
a = 2
b = 2
print(f"a is b: {a is b}")         # True
print(f"a is not b: {a is not b}") # False

# 다른 예시 (새로운 객체 생성)
list1 = [1, 2]
list2 = [1, 2]
print(f"\nlist1 = {list1}, list2 = {list2}")
print(f"list1 is list2: {list1 is list2}")  # False, 리스트는 내용이 같아도 다른 객체

## 연산 오류

### 타입 에러(type error)
연산할 수 없는 자료형을 연산하면 타입 에러가 발생합니다.

In [ ]:
# 타입 에러 예시 (에러 발생)
age = 23
message = "Happy " + age + "rd Birthday!"
print(message)

#### 에러 내용
- **에러 발생 위치**: 2번째 줄
- **에러 내용**: `TypeError: Can't convert 'int' object to str implicitly`
- **설명**: int 형을 암시적으로 문자열로 변환할 수 없음

In [ ]:
# 타입 에러 해결 방법 1: str() 함수 사용
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)

In [ ]:
# 타입 에러 해결 방법 2: f-string 사용
age = 23
message = f"Happy {age}rd Birthday!"
print(message)